.calendar-table {
  font-size: 0.8em;
  width: 60%;
  margin: auto;
  border-collapse: collapse;
}

.calendar-table th,
.calendar-table td {
  padding: 2px;
  height: 60px;
  width: 14.28%;
  border: 1px solid #ccc;
  vertical-align: top;
}

.calendar-cell {
  padding: 2px;
  font-size: 0.65em;
}

.calendar-button {
  display: inline-block;
  margin: 1px 0;
  padding: 1px 3px;
  border-radius: 3px;
  font-size: 0.6em;
  color: white;
  text-align: center;
  font-weight: 500;
}
